p {
    color: #CFCDCD;
    font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    line-height: 1.6;
}
table {
    border-collapse: collapse;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
}

table th, table thead td {
    border-right: none;
    text-align: left;
    padding: 10px 15px;
    color: #fff;
    vertical-align: top;
    font-size: 14px;
    font-weight: 600;
    border-bottom: solid 2px #669900;
}

table tr {
    border-bottom: 1px solid #e0e0e0;
}
table td:not(:last-child) {
    border-right: 1px solid #e0e0e0;
}

table td {
    padding: 10px 15px;
    vertical-align: top;
}

p {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 20px;
}
