input {
    width: 100%;
    height: 100%;
    font-family: 'Rajdhani',sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0 30px 0px 8px;
    border: 0;
    background: none;
    outline: none;
    background-color: #B8B8B9;
    border-radius: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 35px;
    margin: 8px 0;
}

@media screen and (max-width: 780px) {
    .login-container {
        margin: auto;
        width: 80%;
    }
}
@media screen and (min-width: 781px) {
    .login-container {
        margin: auto;
        width: 30%;
    }
}

.btn-submit {
    padding: 8px 40px 9px 40px;
    margin: 0;
    cursor: pointer;
    border-top: 1px solid #44443F;
    border-left: 1px solid #44443F;
    border-right: 1px solid #2B2B26;
    border-bottom: 1px solid #2B2B26;
    border-radius: 1px;
    font-family: arial,tahoma,verdana;
    font-size: 13px;
    color: #B0B0AD;
    background-color: #343433;
    text-decoration: none;
    -webkit-appearance: none;
    font-weight: 600;
    margin: 10px 0;
}

label {
    color: #fff;
}

label.login {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
}

label.error {
    display: flex;
}

/* post grouping dates */
.blog-index-section {
    position:relative;
    height:79px;
    display:inline-block;
    font-family:'Rajdhani',sans-serif;
    font-weight:700;
    font-size:15px;
    text-transform:uppercase;
    color:#fff;
    margin:0;
    padding:52px 0 10px 15px;
    
    background-repeat:repeat-y;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.blog-index-section { 
    background-size:4px 10px !important; 
}

.blog-index-section {
    padding-top:49px;
    background:none;
}
.blog-index-section:before {
    content:'Section:';
    position:absolute;
    bottom:30px;
    left:15px;
    font-size:13px;
    font-weight:500;
    color:#878788;
    text-transform:none;
}

.form-submit.logged {
    position: inherit !important;
}

.comment-form {
    .btn-submit {
        margin: 0;
    }
}

.logged #cancel-comment-reply-link {
    bottom: 45px !important;
}

body.wide {
    .content-wrapper {
        max-width: 1130px;
        margin: 30px auto 100px auto
    }

    .single-wrapper .entry-title h1, .single-wrapper .entry-title {
        font-size: 26px;
        margin-bottom: 1px;
    }
}

.entry-content article {
    color: #CFCDCD;
    font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    line-height: 1.6;

    table {
        border-collapse: collapse;
        margin-bottom: 15px;
        border: 1px solid #e0e0e0;
    }

    table th, table thead td {
        border-right: none;
        text-align: left;
        padding: 10px 15px;
        color: #fff;
        vertical-align: top;
        font-size: 14px;
        font-weight: 600;
        border-bottom: solid 2px #669900;
    }

    table tr {
        border-bottom: 1px solid #e0e0e0;
    }
    table td:not(:last-child) {
        border-right: 1px solid #e0e0e0;
    }

    table td {
        padding: 10px 15px;
        vertical-align: top;
    }
}

.entry-content article h2 {
    font-size: 1.35rem;
    border-left: 5px solid #fff;
    padding: 0 15px;
    margin: 1.5em 0 .6em;
    text-transform: uppercase;
}

.entry-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
        font-weight: 400;
        margin-top: 0;
    }
}

.notfound_wrap .img_area {
    height: 400px;
    box-sizing: border-box;
    margin: 0 auto;
}
.notfound_wrap .notfound_msg {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.notfound_wrap .img_area:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: url(/assets/images/notfound.png) top center no-repeat;
    background-size: 995px 400px;
}

@media screen and (max-width: 1024px) {
    .notfound_wrap .img_area:before {
        background: url(/assets/images/m_notfound.png) top center no-repeat;
        background-size: cover;
    }

    .notfound_wrap .img_area {
        max-width: 18.833rem;
        width: 100%;
        height: 11.875rem;
        box-sizing: border-box;
    }
}

.notfound_wrap .text_area .text01 {
    display: block;
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    line-height: 1.57;
}

.notfound_wrap .text_area .text02 {
    display: block;
    font-size: 16px;
    color: #545454;
    font-weight: normal;
    line-height: 1.25;
    margin-top: 30px;
}

.notfound_wrap {
    text-align: center;
}