td {
	vertical-align: middle !important;
}

.modal.form {
  text-align: center;
  padding: 0!important;
}

.modal.form:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.form {
	.modal-dialog {
	  display: inline-block;
	  text-align: left;
	  vertical-align: middle;
	}

	@media (min-width: 992px) {
		.modal-dialog {
		    width: 900px;
		}
	}

	@media (min-width: 768px) {
		.modal-dialog {
		    width: 600px;
		    margin: 30px auto;
		}
	}
}

.form-group.is-submitted {
    margin-bottom: 0rem !important;
}

span.page-link {
	cursor: pointer;
}

.form-control {
	border: solid 1px #999 !important;
}

label.is-invalid {
	color: #bd2a2a;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #f86c6b !important;
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

td.photo img {
	width: 150px !important;
}

.photo-frame img {
	width: 150px;
	cursor: pointer;
	display: inline-block
}

.hidden {
	display: none !important;
}

img.preview {
	max-width: 460px;
}

.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.profile-avatar {
    position: relative;
    display: inline-block;
}
.profile-avatar .avatar-status {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50em;
}

.notification {
	width: 370px;
}

.cover-image-button {
	display: inline-block;
    position: relative;
    cursor: pointer;
    height: 80px;
}

.photo-frame {
    display: inline-block;
}
.images-upload .photo-frame {
    border: 1px solid #e4e7ea;
    border-radius: 10px;
}

.cover-image-button.images img {
    height: 80px;
    width: auto;
}

.close-icon
{
    cursor: pointer;
    box-sizing:border-box;
    width:20px;
    height:20px;
    border-width:3px;
    border-style: solid;
    border-color:red;
    border-radius:100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
    background-color:red;
    box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
    margin-top: -10px;
    margin-left: -10px;
    z-index: 100;
    position: relative;
    float: right;
}

.images-upload {
    padding: 30px 0;
}

td.thumbnail img {
    width: 70px;
}